<p id="notice"><%= notice %></p>

<p>
  <b>Date shipped scan:</b>
  <%= @microfilm_reel.date_shipped_scan %>
</p>

<p>
  <b>Tracking number:</b>
  <%= @microfilm_reel.tracking_number %>
</p>

<p>
  <b>Date tiffs shipped ucr:</b>
  <%= @microfilm_reel.date_tiffs_shipped_ucr %>
</p>

<p>
  <b>Date film returned:</b>
  <%= @microfilm_reel.date_film_returned %>
</p>

<p>
  <b>Shelved at ucb:</b>
  <%= @microfilm_reel.shelved_at_ucb %>
</p>

<p>
  <b>Date shipped rescan:</b>
  <%= @microfilm_reel.date_shipped_rescan %>
</p>

<p>
  <b>Rescan tracking number:</b>
  <%= @microfilm_reel.rescan_tracking_number %>
</p>

<p>
  <b>Date shipped lc:</b>
  <%= @microfilm_reel.date_shipped_lc %>
</p>

<p>
  <b>Vendor project:</b>
  <%= @microfilm_reel.vendor_project_id %>
</p>


<%= link_to 'Edit', edit_microfilm_reel_path(@microfilm_reel) %> |
<%= link_to 'Back', microfilm_reels_path %>
