<h1>Listing issues</h1>

<table>
  <tr>
    <th>Volume</th>
    <th>Number</th>
    <th>Edition number</th>
    <th>Edition label</th>
    <th>Date</th>
    <th>Date printed</th>
    <th>Present</th>
    <th>Phys description</th>
    <th>Num sections</th>
    <th>Num pages</th>
    <th>Missing pages</th>
    <th>Duplicate pages</th>
    <th>Notes</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @issues.each do |issue| %>
  <tr>
    <td><%= issue.volume %></td>
    <td><%= issue.number %></td>
    <td><%= issue.edition_number %></td>
    <td><%= issue.edition_label %></td>
    <td><%= issue.date %></td>
    <td><%= issue.date_printed %></td>
    <td><%= issue.present %></td>
    <td><%= issue.phys_description %></td>
    <td><%= issue.num_sections %></td>
    <td><%= issue.num_pages %></td>
    <td><%= issue.missing_pages %></td>
    <td><%= issue.duplicate_pages %></td>
    <td><%= issue.notes %></td>
    <td><%= link_to 'Show', issue %></td>
    <td><%= link_to 'Edit', edit_issue_path(issue) %></td>
    <td><%= link_to 'Destroy', issue, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Issue', new_issue_path %>
