<h1>CDNC Batch Tracker</h1>
<p><%= link_to "Projects", projects_path %></p>
<p><%= link_to "Grants", grants_path %></p>
<p><%= link_to "Batches", batches_path %></p>
<p><%= link_to "Reels", reels_path %></p>
<p><%= link_to "Titles", titles_path %></p>
<p><%= link_to "Issues", issues_path %></p>
<br />
<p><%= link_to "Abbreviated Titles", abbrv_titles_path %></p>
<p><%= link_to "Microfilm Reels", microfilm_reels_path %></p>