<p id="notice"><%= notice %></p>

<p>
  <b>Batch:</b>
  <%= @reel.batch.name_short %>
</p>

<p>
  <b>Number:</b>
  <%= @reel.number %>
</p>

<p>
  <b>Start date:</b>
  <%= @reel.start_date %>
</p>

<p>
  <b>End date:</b>
  <%= @reel.end_date %>
</p>

<p>
  <b>Reduction ratio:</b>
  <%= @reel.reduction_ratio %>
</p>

<p>
  <b>Captureresolutionoriginal:</b>
  <%= @reel.CaptureResolutionOriginal %>
</p>

<p>
  <b>Captureresolutionfilm:</b>
  <%= @reel.CaptureResolutionFilm %>
</p>

<p>
  <b>Guidetocontentspresentflag:</b>
  <%= @reel.GuideToContentsPresentFlag.yesno %>
</p>

<p>
  <b>Guidetocontentsstring:</b>
  <%= @reel.GuideToContentsString %>
</p>

<p>
  <b>Datemicrofilmcreated:</b>
  <%= @reel.DateMicrofilmCreated %>
</p>

<p>
  <b>Looseleavesflag:</b>
  <%= @reel.LooseLeavesFlag.yesno %>
</p>

<p>
  <b>Boundvolumeflag:</b>
  <%= @reel.BoundVolumeFlag.yesno %>
</p>

<p>
  <b>Comments:</b>
  <%= @reel.Comments %>
</p>

<p>
  <b>Dimensions:</b>
  <%= @reel.Dimensions %>
</p>

<p>
  <b>Pagesperissue:</b>
  <%= @reel.PagesPerIssue %>
</p>

<p>
  <b>Numberresolutiontargets:</b>
  <%= @reel.NumberResolutionTargets %>
</p>

<p>
  <b>Resolutionofmaster:</b>
  <%= @reel.ResolutionOfMaster %>
</p>

<p>
  <b>Resolutioncommentmaster:</b>
  <%= @reel.ResolutionCommentMaster %>
</p>

<p>
  <b>Densityreadingmaster:</b>
  <%= @reel.DensityReadingMaster %>
</p>

<p>
  <b>Averagedensitymaster:</b>
  <%= @reel.AverageDensityMaster %>
</p>

<p>
  <b>Dminmaster:</b>
  <%= @reel.DminMaster %>
</p>

<p>
  <b>Resolutionofduplicatenegative:</b>
  <%= @reel.ResolutionOfDuplicateNegative %>
</p>

<p>
  <b>Resolutioncommentduplicatenegative:</b>
  <%= @reel.ResolutionCommentDuplicateNegative %>
</p>

<p>
  <b>Densityreadingduplicatenegative:</b>
  <%= @reel.DensityReadingDuplicateNegative %>
</p>

<p>
  <b>Averagedensityduplicatenegative:</b>
  <%= @reel.AverageDensityDuplicateNegative %>
</p>

<p>
  <b>Dminduplicatenegative:</b>
  <%= @reel.DminDuplicateNegative %>
</p>

<p>
  <b>Digitalresponsibleinstitution:</b>
  <%= @reel.DigitalResponsibleInstitution %>
</p>

<p>
  <b>Digitalresponsibleinstitutioncode:</b>
  <%= @reel.DigitalResponsibleInstitutionCode %>
</p>

<p>
  <b>Sourcerepository:</b>
  <%= @reel.SourceRepository %>
</p>

<p>
  <b>Sourcerepositorycode:</b>
  <%= @reel.SourceRepositoryCode %>
</p>

<p>
  <b>Notetoprocessor:</b>
  <%= @reel.NoteToProcessor %>
</p>


<%= link_to 'Edit', edit_reel_path(@reel) %> |
<%= link_to 'Back', reels_path %>
