<%= form_for(@grant) do |f| %>
  <% if @grant.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@grant.errors.count, "error") %> prohibited this grant from being saved:</h2>

      <ul>
      <% @grant.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
	<%= f.label :project_id =%><br />
    <%= f.collection_select :project_id, Project.all, :id, :name, :prompt => "Select a Project" %>
  </div>
  <div class="field">
    <%= f.label :beg_year %><br />
	<%= select_year @grant.beg_year, :start_year => 2005, :end_year => Time.now.year, :field_name => :beg_year, :prefix => :grant %>
  </div>
  <div class="field">
    <%= f.label :end_year %><br />
    <%= select_year @grant.end_year, :start_year => 2005, :end_year => Time.now.year, :field_name => :end_year, :prefix => :grant %>
  </div>
  <div class="field">
    <%= f.label :notes %><br />
    <%= f.text_area :notes %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
